# Ignore node_modules (will be installed inside the container)
node_modules

# Ignore local development environment files
*.env
# Ignore logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Ignore build output
dist
build

# Ignore Docker-related files (if you don't need them in the image)
docker-compose.yml
Dockerfile

# Ignore IDE/editor directories and files
.vscode/





